<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>

  <title>{{ resumeData.fullName }} | {{ resumeData.title }} | {{ resumeData.email }}</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <meta name="keywords" content="" />
  <meta name="description" content="" />

  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/resume.css" media="all" />
  <link rel="stylesheet" href="/css/resume.min.css" type="text/css" media="all" />
</head>
<body>

<form style="display: none" action=''>
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
</form>

<div id="doc4" class="yui-t7">
  <div id="inner">

    <div id="hd">
      <div id="resumeInfo" class="yui-gc" data-id="{{ resumeData.resumeId }}">
        <div class="yui-u first">
          <input class="resumeFullName" type="text" value="{{ resumeData.fullName }}"/> <!--h1-->
          <input class="resumeTitle" type="text" value="{{ resumeData.title }}"/>       <!--h2-->
        </div>

        <div class="yui-u">
          <div class="contact-info">
            <h3><a id="pdf" href="/resume.pdf">View PDF Resume</a></h3>                  <!--h3-->
            <input class="resumeEmail" type="text" value="{{ resumeData.email }}"/>
            <input class="resumePhone" type="text" value="{{ resumeData.phone }}"/>
          </div>
        </div>
      </div>
    </div>

    <div id="bd">
      <div id="yui-main">
        <div id="categories" class="yui-b">
          {% for category in resumeData.categories %}
          <div class="category yui-gf {% if loop.last %}last{% endif %}" data-id="{{category.id}}">
              <input class="categoryName" type="text" value="{{ category.name }}"/>
              <div class="yui-u first"></div>
              <div class="yui-u">
                <div class="collectiondisplay">
                  <table class="badgetable">
                    <tr height="15"></tr>
                    {% for row in category.badges | batch(4, 'filler') %}
                    <tr>
                      {% for badge in row %}
                      {% if badge == 'filler' %}
                      <td></td>
                      {% else %}
                      <td class="badge" draggable="true" data-id="{{ badge.id }}" align="center" style="cursor: pointer">
                        <img src="{{ badge.imageUrl }}" width="125" height="125" border="0"/><br />{{ badge.name }}
                      </td>
                      {% endif %}
                      {% endfor %}
                    </tr>
                    {% endfor %}

                  </table>
                </div>
              </div>
          </div>

          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div id="ft">
    <p>{{ resumeData.fullName }} &mdash; <a href="mailto:{{ resumeData.email }}">{{ resumeData.email }}</a> &mdash; {{ resumeData.phone }}</p>
  </div>

</div>
</body>

<script>
  !!function(){
    window.badgeData = {};
    {% for badge in resumeData.badges %}
      window.badgeData[{{badge.id}}] = {{badge.serializedAttributes}};
    {% endfor %}
  }();
</script>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/nunjucks-dev.js"></script>
<script type="text/javascript" src="/js/underscore.js"></script>
<script type="text/javascript" src="/js/backbone.js"></script>
<script type="text/javascript" src="/js/resume.js"></script>

</html>

